################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Presentacion/obj
/.vs
/Datos/obj/Debug/net6.0
/Datos/obj
