################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Presentacion/obj
/.vs
/Datos/obj/Debug/net6.0
/Datos/obj
/Negocio/obj
/Datos/bin/Debug/net6.0
/Negocio/bin/Debug/net6.0
/Presentacion/bin/Debug/net6.0-windows
